.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    box-shadow: 0px 0px 5px 0px;
}

.header__logo {
    height: 30px;
    width: 30px;
    object-fit: cover;
}