.Tinder-cards {
    margin-top: 80px;
}

.tinderCards__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tinderCards__container .card{
    position: relative;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background-color: white;
    background-size: cover;
    background-position: center;
}
.swipe {
    position: absolute;
}

.cardContent {
    width: 100%;
    height: 100%;
}

.card h3{
    position: absolute;
    bottom: 0;
    margin: 30px;
    color: white;
}